{% extends 'base.html' %}
{% block title %}Offline{% endblock title %}
{% block banner %}{% endblock banner %}
{% block wecook %}{% endblock wecook %}
{% block blog %}   
 <div class="container col-lg-offset-1">
     <h1 style="color:red;">Sorry You are Offline plz check your connection !!</h1>
 </div>
{% endblock blog %} 
{% block booktable %}{% endblock booktable %}
{% block featured %}{% endblock featured %}
{% block foodmenu %}{% endblock foodmenu %}
{% comment %} {% block footer %}{% endblock footer %} {% endcomment %}
{% block footer %}{% endblock footer %}